# IDE tmp file
.idea

# installed package
node_modules

# yarn & npm log file
yarn-error.log
yarn.lock
npm-debug.log

# relay compiled file
__generated__

# graphql schema file
graphql.schema.json

# build folder
dist